body{
    background-color:beige ;
}

form {
    width: 200px;
    margin: 20px auto;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    width: 70%;
    padding: 30px;
}

.poke-card {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: fit-content;
    max-width: 300px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #000;
    border: 1px solid black;
    box-shadow: 20px 10px 10px gray;
}

.poke-card::before {
    content: '';
    
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke-img {
    width: 180px;
    
}